<!DOCTYPE html>
<html>
<head> 
</head>
<body>
	<div th:fragment="footer">
		<script src="/webjars/jquery/3.2.0/jquery.js"></script>
		<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
	</div>
</body>
