<!DOCTYPE html>
<html>


<head th:replace="fragments/head :: head">
    <title>Proyecto Suyapa</title>    
  </head>
<body>

<body>

<div th:replace="fragments/menu :: menu">
</div>

<div class="main">
		
<h1>Proyecto Suyapa</h1>

<p>Esta es la página pricipal del proyecto Suyapa</p>


<!-- 	<div class="container"> -->
<!-- 		<div class="btn-group"> -->
<!-- 			<button type="button" class="btn btn-success">This is a -->
<!-- 				success button</button> -->
<!-- 			<button type="button" class="btn btn-warning">This is a -->
<!-- 				warning button</button> -->
<!-- 			<button type="button" class="btn btn-danger">This is a -->
<!-- 				danger button</button> -->
<!-- 		</div> -->
<!-- 	</div> -->
	</div>
	<div th:replace="fragments/footer :: footer"/>  

</body>
<script>
// Da la clase active a el boton del menú
$("#home").addClass("active");
</script>
</html>