<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Proyecto Suyapa</title>    
  </head>
<body>
<body>
<div th:replace="fragments/menu :: menu">
</div>
<div class="main">
	<h1>Alumno</h1>
<!-- 	<p th:text="'id: ' + ${alumno.id}" /> -->
	<p th:text="'Nombre: ' + ${alumno.nombre}" />
	<p th:text="'Edad: ' + ${alumno.edad}" />
	<a type="button" class="btn btn-info" href="/alumnos">
		 Ver lista de alumnos
	</a>
	
	<a type="button" class="btn btn-info" th:href="@{'/alumno/' + ${alumno.id} +'/vacunas'}">Ver
						Vacunas</a>
						
	<a type="button" class="btn btn-success" href="/alumno/add">
		<span class="glyphicon glyphicon-plus"></span> Añadir un nuevo
		alumno
	</a>
	

	<div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>