<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Proyecto Suyapa</title>    
  </head>

<body>
<div th:replace="fragments/menu :: menu">
		</div>

<div class="main">
	
	<h1>Alumnos</h1>

	<a type="button" class="btn btn-success" href="/alumno/add">
		<span class="glyphicon glyphicon-plus"></span> Añadir un nuevo
		alumno
	</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#ID</th>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<div th:each="alumno : ${alumnos}">
			<tr>
				<td th:text="${alumno.id}"></td>
				<td th:text="${alumno.nombre}"></td>
				<td th:text="${alumno.edad}"></td>
				<td>
					<a type="button" class="btn btn-info" 
					th:href="@{'/alumno/' + ${alumno.id}}">
<!-- 					onclick="location.href=/alumno/id" -->
					Ver
						Datos del alumno</button>
						<a type="button" class="btn btn-info" onclick="location.href=/alumno/id/vacunas">Ver
						Vacunas</button>
					<a type="button" class="btn btn-primary" onclick="location.href=/update/id">Actualizar</button>
					<a type="button" class="btn btn-danger" onclick="location.href=/delete/id">Eliminar</button>
				</td>
			</tr>

		</div>
		</table>

		<div th:replace="fragments/footer :: footer"></div>
		</div>
</body>

<script>
// Da la clase active a el boton del menú
$("#lista").addClass("active");
</script>
</html>