<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Proyecto Suyapa</title>    
  </head>
<body>
<body>
<div th:replace="fragments/menu :: menu">
</div>
<div class="main">
	<h1>Paciente</h1>
<!-- 	<p th:text="'id: ' + ${paciente.id}" /> -->
	<p th:text="'Nombre: ' + ${paciente.nombre}" />
	<p th:text="'Edad: ' + ${paciente.edad}" />
	<a type="button" class="btn btn-info" href="/pacientes">
		 Ver lista de pacientes
	</a>
	<a type="button" class="btn btn-success" href="/paciente/add">
		<span class="glyphicon glyphicon-plus"></span> Añadir un nuevo
		paciente
	</a>
	

	<div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>