<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Proyecto Suyapa</title>    
  </head>
<body>
<body>
<div th:replace="fragments/menu :: menu">
	<h1>Result</h1>
	<p th:text="'id: ' + ${paciente.id}" />
	<p th:text="'nombre: ' + ${paciente.nombre}" />
	<p th:text="'edad: ' + ${paciente.edad}" />
	<a type="button" class="btn btn-success" href="/paciente/add">
		<span class="glyphicon glyphicon-plus"></span> Añadir un nuevo
		paciente
	</a>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>